.chat-main
  .chat-main__header
    .chat-main__header__group-info
      %p.chat-main__header__group-info__group-name
        = @group.name
      .chat-main__header__group-info__members-list
        %ul.chat-main__header__group-info__members-list__index Member :
        .li.chat-main__header__group-info__members-list__members 
          - @group.users.each do |user|
            = user.name
    = link_to edit_group_path(@group), class: "chat-main__header__edit-btn" do
      %ul Edit
  
  .chat-main__messages
    = render @messages

  .chat-main__message-form
    = form_for [@group, @message] do |f|
      .chat-main__message-form__two-boxes
        .chat-main__message-form__two-boxes__input-box
          = f.text_field :content, class: 'chat-main__message-form__two-boxes__input-box__text', placeholder: 'type a message'
          -# %label.chat-main__message-form__input-box__image do
          = f.label :image, class: 'label-image' do
            %i.fa.fa-image
            -# %input#message-image.chat-main__message-form__input-box__image__file{name: "message[image]", type: "file"}/
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'submit'
      